footer {
  background-color: #6b6b6b;
  width: 100%;
  padding: 20px 0;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer {
  background-color: #000000;
  width: 100%;
  padding: 10px 0;
}
.footer-dack {
  color: rgb(119, 119, 119);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
