header {
  background-color: #6b6b6b;
  width: 100%;
  padding: 20px 0;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-list {
  display: flex;
  gap: 40px;
}
.header-link {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.header-link:hover {
  color: rgb(255, 208, 0);
}
@media (max-width: 1000px) {
  .header-list {
    gap: 20px;
  }
  .header-img {
    margin-left: -20px;
  }
}
